.loading {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: red;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
  

.loading-width{
    animation: loading 1s ease-in-out;
    height: 2px;
    background-color: red;
}

@keyframes loading {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}
  